.hex-btn {
  width: var(--size);
  height: var(--size);
  background: #0a0a0a;
  border-radius: 20%;
  clip-path: polygon(
    25% 5%, 75% 5%,
    95% 50%, 75% 95%,
    25% 95%, 5% 50%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid rgba(255,255,255,0.04);
  box-shadow: inset 0 0 4px rgba(255,255,255,0.05);
}

/* glow on hover */
.hex-btn:hover {
  border: 1px solid rgba(59,130,246,1); /* blue glow */
  box-shadow:
    0 0 10px rgba(59,130,246,0.8),
    0 0 20px rgba(59,130,246,0.6),
    inset 0 0 4px rgba(59,130,246,0.5);
  transform: translateY(-2px);
}

/* icon color */
.hex-btn svg {
  width: 250%;
  height: 250%;
  color: white;
  transition: 0.3s ease;
}

.hex-btn:hover svg {
  color: rgba(147,197,253,1);
}
