.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #EFF0EB;
  overflow: hidden;

  :global(*::-webkit-scrollbar) {
    width: 8px;
    height: 8px;
  }

  :global(*::-webkit-scrollbar-track) {
    background: transparent;
  }

  :global(*::-webkit-scrollbar-thumb) {
    background: #d1d5db;
    border-radius: 4px;
    
    &:hover {
      background: #9ca3af;
    }
  }
}

.mainContent {
  display: flex;
  flex: 1;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .mainContent {
    
  }
}

@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
  }
}